*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(192, 239, 192);
}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
}

#ptop{
    width: 100%;
    height: 100px;
    background-color: rgb(97, 139, 97);
    display: flex;
    color: #fff;
    padding: 0 30%;
    align-items: center;
    justify-content: space-between;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    color: rgb(89, 144, 77);
    font-weight: 600;
    font-size: 22px;
}

#pbtm{
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgb(72, 105, 72);
    color: white;
    border-radius: 50%;
    font-weight: 500;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(50, 75, 50);
}